@model IEnumerable<Data>

@{
    ViewData["Title"] = "Home Page";

}

<div class="text-center">
    <h1 class="display-4">Welcome to Ashley's Mock Store!</h1>
    <p><a>Here, I will use APIs from Printful and Paypal Sandbox to create my storefront.</a></p>
</div>

<div>
    <table class="table-striped">
        <thead><tr><th>Name</th><th>Picture Url</th><th>ID</th></tr></thead>
        <tbody>
            @foreach(var d in Model)
            {
                <td>@d.name</td>
                <td>@d.thumbnail_url</td>
                <td>@d.id</td>
            }
        </tbody>
    </table>
</div>