@model IEnumerable<SyncProduct>

@{
    ViewData["Title"] = "Home Page";

}

<div class="text-center">
    <h1 class="display-4">Welcome to Ashley's Mock Store!</h1>
    <p><a>Here, I will use APIs from Printful and Paypal Sandbox to create my storefront.</a></p>
</div>

<div class="inventory">
    @foreach (var d in Model)
    {
        <div class="productIcon">
            <a target="_blank" href="product/@d.id">
                <div class="imageContainer">
                    <img id="itemImage" src="@d.thumbnail_url" alt="@d.name">
                </div>
            </a>
            <div id="itemInfo">
                <p>Item Name: @d.name</p>
                <p>Item Number: @d.id</p>
                <p>Click for more information!</p>
            </div>
        </div>
    }

</div>