/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px; /* Vertically center the text there */
}

/*Store front css*/
#itemImage {
    border:solid;
    border-radius: 10px;
    border-color: black;
    border-width: 1px;
    object-fit:cover;
    max-width:100%;
    height:auto;
    padding-right:10%;
    padding-left: 10%;
}

div.productIcon {
    margin-bottom: 5px;
    margin-right:5px;
    border: 1px solid black;
    width: 40%;
    height:initial;
    border-radius: 10px;
    padding-top: 5%;
}
div.gallery:hover {
        border: 1px solid #777;
    }

.imageContainer{
    padding-left:10%;
    padding-right:10%;
}

#itemInfo {
    padding: 15px;
    text-align: center;
}
/*https://www.w3schools.com/css/css_image_gallery.asp trying this out*/

.inventory{
    display:flex;
}

/*----Product Information Page----*/
.details {
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 10%;
    margin-right: 10%;
    border: 1px solid black;
    width: auto;
    border-radius: 10px;
    padding: 5%;
}